@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
}

.ff-poppins {
  font-family: 'poppins', sans-serif;
}

.bg-green {
  background-color: #E6F6F4;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.mw-366 {
  max-width: 366px;
}